 * { margin:0; 
    padding:0;
    /* box-sizing:border-box;*/
     }

        #nav   { 
            background:rgb(195,222,246); 
            height:80px; 
            border:3px solid rgb(156,156,246);
         }
        
        #container {
            display:flex;
           
            
        }
        
        #boxleft   {
             background:rgb(247,189,247); 
             height:200px; width:500px;
              border:5px solid rgb(245,143,245);
             }
        #boxcenter { 
            background:rgb(174,249,174);
             height:200px; 
             width:500px;
              border:5px solid rgb(68,249,68);
             }
        #boxright  {
             background:rgb(237,247,160);
              height:200px; 
              width:500px;
               border:5px solid rgb(184,248,46);
             }

       /* body {
             padding-bottom: 120px;
              min-height: 100vh; 
            }*/
        
        footer {
            position: fixed; /* yeslai lekhena vane footer mathi auxa*/
            bottom: 0;/* yeslai lekhena vane footer mathi auxa*/
           /* left: 0;*/
            width: 100%;
            height: 100px;
           /* z-index: 9999;*/
        }
        #footerbox {
            height: 100%;
            width: 100%;
            background: linear-gradient(to right, pink, lightgreen, yellow);
          
        }